$main-blue: #0087ca;
$btn-hover: #0096e0;
$centbg : no-repeat center center / cover;
$font-awesome: 'FontAwesome';
$open-sans: 'Open Sans', sans-serif;
$helvet: 'Helvetica Neue Cyr', sans-serif;
$helvet-roman: 'Helvetica Neue Cyr Roman', sans-serif;
$helvet-ital: 'Helvetica Neue Cyr italic', sans-serif;
$helvet-thin: 'Helvetica Neue Cyr Light', sans-serif;
$post-bottom:  (77rem/16);
$darken-white: #f9fafa;
$impact: "Impact", $open-sans;
